$green: rgb(48, 128, 38);

.calc {
  width: 500px;
  margin: auto;
  text-align: center;
  background: #fff;
  transform: translateZ(0);
  &-wrap {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  &__header{
    line-height: 48px;
    background: $green;
    font-size: 24px;
    color:#fff;
    position: relative;
  }
  &__title{
    line-height: 56px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 24px;
  }
  &__close{
    position: absolute;
    width: 36px;
    height: 36px;
    background: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 50%;
    top: 50%;
    right: 6px;
    transform: translate(0, -50%);
    opacity: 0.8;
    transition: opacity 0.2s, transform 0.3s;
    &:before, &:after{
      content:'';
      position: absolute;
      width: 24px;
      height: 4px;
      border-radius: 2px;
      background: #fff;
      top: 50%;
      left: 50%;
    }
    &:before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover{
      opacity: 1;
    }
    &:focus{
      outline: none;
    }
    &:active{
      outline: none;
      transform: translate(0, -50%) scale(0.9);
    }
  }
  &__input{
    width: 100%;
    position: relative;
    border:1px solid $green;
    border-radius: 4px;
    background: rgba($green, 0.3);
    input{
      width: 100%;
      line-height: 50px;
      text-align: center;
      font-size: 28px;
    }
    &-delete{
      position: absolute;
      width: 40px;
      height: 24px;
      right: 6px;
      top: 50%;
      transform:translate(0, -50%);
    }
    &-pre{
      width: 32px;
      height: 100%;
      display: flex;
      padding-top: 4px;
      flex-direction: column;
      position: absolute;
      left: 6px;
      font-size: 12px;
      justify-content: space-between;
    }
  }
  &__desc{
    width: 100%;
    margin: 12px 0;
    display: flex;
    align-items: center;
    .svg-icon{
      height: 32px;
      width: 32px;
      margin-right: 16px;
      flex:none;
    }
  }
  &__keyboard{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 4px);
    height: 225px;
    margin: -2px;
    button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(25% - 4px);
      line-height: 50px;
      border:1px solid rgba($green, 0.6);
      background: #fff;
      color:black;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
      margin: 2px;
      border-radius: 4px;
      transition: border-color 0.5s, background 0.5s, transform 0.2s;
      &:hover{
        border-color: $green;
      }
      &:focus, &:active{
        outline: 0;
      }
      &:active{
        background: rgba($green, 0.5);
        transform: scale(0.98);
      }
    }
    .svg-icon{
      height: 40px;
    }
  }
  &__submit{
    width: 100%;
    line-height: 50px;
    border:1px solid rgba($green, 0.6);
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 12px 0;
    transition: border-color 0.5s, background 0.5s, transform 0.2s, opacity 0.3s;
    &:hover{
      border-color: $green;
    }
    &:focus{
      outline: none;
    }
    &:active{
      background: rgba($green, 0.5);
      transform: scale(0.99);
    }
    &-icon{
      flex:none;
      height: 32px;
    }
    &-text{
      width: 100%;
      font-size: 24px;
      text-align: center;
    }
  }
}
