@import './../../../scss/common';

.card{
  position: relative;
  cursor: pointer;
  &__ico {
    flex:none;
    @include sizing('width', (320px: 32px, 500px: 38px));
    @include sizing('height', (320px: 32px, 500px: 38px));
    &-wrap {
      position: absolute;
      top: 0;
      left: 50%;
      @include sizing('width', (320px: 48px, 500px: 64px));
      @include sizing('height', (320px: 48px, 500px: 64px));
      box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3), inset 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      transition: box-shadow 0.2s;
      &:before{
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: gray;
        opacity: 0.1;
        border-radius: 50%;
        transition: opacity 0.2s;
      }
      &:hover{
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3), inset 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
        &:before{
          opacity: 0.15;
        }
      }
    }
  }
}